<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="../static/style.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title> Bldg 6A </title>
    </head>
    <body>
        <div class="sidenav" id="sidenav">
            <a href="#home">Home</a>
            <a href="#Maintenance">Maint.</a>
            <a href="#Stores">Stores</a>
            <a href="#Bldg 1">Bldg 1</a>
            <a href="#Bldg 2">Bldg 2</a>
            <a href="#Bldg 5">Bldg 5</a>
            <a href="#Bldg 6A">Bldg 6A</a>
            <a href="#Bldg 12m">Bldg 12m</a>
        </div>
        <div class="sidenav-btn" onclick="closeSidebar()" id="sidenav-btn">
            <img id="arrow-direction" src="../static/chevron-double-left-.svg">
        </div>

        <div class="header-cont">
            <a href="#logout"><img src="../static/greig_logo.png" alt="grieg logo" href="{{url_for('dashboard')}}"></a>
            <h1><strong>title here</strong></h1>
        </div>

        <div class="dashboard-cont">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="input-pane-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">item1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">item2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">item3</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="input-pane" role="tabpanel" aria-labelledby="input-pane">
                    ...
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>


        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>     
        <script>
            //this function applies the active-menu class to whichever menu item is currently displaying
            $(document).ready(function () {
                var url = $(location).attr('href');
                var menuItem = $('.sidenav a').filter(function() {
                    return this.href == url;
                })
                menuItem.addClass('active-menu');
            })
        </script>
        <script>
            function closeSidebar() {
                // set sidenav width to zero
                document.getElementById("sidenav").style.width = "0";
                document.getElementById("sidenav-btn").style.left = "5px";

                // change arrows on sidenav open/close button
                document.getElementById("arrow-direction").src = "../static/chevron-double-right-.svg";

                // change onclick attribute of the sidenav-btn
                document.getElementById("sidenav-btn").onClick = "openSidebar";
                document.getElementById("sidenav-btn").setAttribute("onClick", "javascript: openSidebar();");
            }

            function openSidebar() {
                // set sidenav width to zero
                document.getElementById("sidenav").style.width = "160px";
                document.getElementById("sidenav-btn").style.left = "150px";

                // change arrows on sidenav open/close button
                document.getElementById("arrow-direction").src = "../static/chevron-double-left-.svg";

                // change onclick attribute of the sidenav-btn
                document.getElementById("sidenav-btn").onclick = "closeSidebar";
                document.getElementById("sidenav-btn").setAttribute("onClick", "javascript: closeSidebar();");
            }
        </script>
    </body>




</html>